[Desktop Entry]
Encoding=UTF-8
Name=Link to Simulate keystroke in Linux with Python - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/5714072/simulate-keystroke-in-linux-with-python
Icon=text-html
